<h1>All Tasks</h1>
<p><%= link_to 'New Task', new_task_path %></p>
<table>
  <tr>
    <th>Content</th>
    <th>Actions</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.content, task %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td>
        <%= link_to "Delete", task_path(task), 
      data: { 
        turbo_method: :delete,
        turbo_confirm: "Are you sure?" 
      } %>
      </td>
    </tr>
  <% end %>
</table>
